.img {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.img_header {
    width: 80%;
    height: 200px;
    border-radius: 10px;
}

.descriptionBlock {
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about_me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.descriptionBlock img {
    margin: 0 25px;
    width: 25%;
    height: 80px;
    border-radius: 4px;
}

div.about_me span{
    text-transform: uppercase;
    font-weight: bold;
}